<!-- Configuration to go in head section -->

<title>Three Random Words Password Generator</title>
        
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="description" content="Password Generator, using Three Random Words"/>
        <meta name="robots" content="index, follow, archive"/>
        <meta property="st:section" content=""/>
        <meta name="twitter:title" content="Three Random Words"/>
        <meta name="twitter:description" content="Password Generator, using Three Random Words"/>
        <meta name="twitter:card" content="summary_large_image"/>
        <meta property="og:url" content="http://securityessentials.github.io/ThreeRandomWords/images/scrabble-tiles-pixabay.jpg"/>
        <meta property="og:title" content="Three Random Words"/>
        <meta property="og:description" content="Password Generator, using Three Random Words"/>
        <meta property="og:type" content="article"/>
        <meta property="og:locale" content="en_US"/>
        <meta property="og:site_name" content="SecureDevelopment Github Pages"/>
        <meta name="twitter:image" content="https://securityessentials.github.io/ThreeRandomWords/images/scrabble-tiles-pixabay.jpg"/>
        <meta property="og:image" content="https://securityessentials.github.io/ThreeRandomWords/images/scrabble-tiles-pixabay.jpg"/>
        <meta property="og:image:width" content="1920"/>
        <meta property="og:image:height" content="1504"/>
        <meta property="og:image:secure_url" content="https://securityessentials.github.io/ThreeRandomWords/images/scrabble-tiles-pixabay.jpg"/>
